@import "variables";
@import "bootstrap/scss/mixins/color-mode";
$color-mode-type: data;


@include color-mode(dark) {
  .btn {
    &-outline-light {
      color: $text-100-dark;

      &:disabled, &.disabled {
        color: $text-100-dark;
      }
    }
  }
}


.btn{
  transition: $transition-base;

  &-sm {
    line-height: 1.25rem;
  }

  &-primary {
    background: $primary-gradient;
    border-color: transparent;

    &:hover {
      opacity: .7;
    }
  }

  &-secondary {
    color: $primary;
    border-color: transparent;

    &:hover {
      color: $white;
      background: $secondary-gradient-hover;
    }

    &:disabled, &.disabled {
      color: $primary;
      border-color: transparent;
    }
  }

  &-light {
    color: $black;
    border-color: transparent;

    &:hover {
      color: $black;
      background: $light;
      border-color: transparent;
      opacity: .7;
    }
  }

  &-outline-light {
    color: $black;
    border-color: $light;
    background: transparent;

    &:hover {
      background: transparent;
      opacity: .7;
    }

    &:disabled, &.disabled {
      color: $black;
    }
  }

  &-link {
    text-decoration: none;

    &:hover {
      opacity: .7;
    }

    &:disabled, &.disabled {
      color: $info;
    }
  }

  &-warning {
    color: $warning;
    border-color: transparent;
    background: rgba($warning, .08);

    &:hover {
      color: $white;
      background: $warning;
    }

    &:disabled, &.disabled {
      color: $warning;
      border-color: transparent;
      background: rgba($warning, .08);
    }
  }
}

